@model Product 
@using System.Security.Claims
<div class="d-flex justify-content-center">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block" width="900" height="600" src="@("/image/"+@Model.PictureGeneral)" alt="Первый слайд">
        </div>
        <div class="carousel-item">
            <img class="d-block " width="900" height="600" src="@("/image/"+@Model.PictureSecond)" alt="Второй слайд">
        </div>
        <div class="carousel-item">
            <img class="d-block " width="900" height="600" src="@("/image/"+@Model.PictureSubSecond)" alt="Третий слайд">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Предыдущий</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Следующий</span>
    </a>
</div>
</div>
<h1>Стоимость: @Model.Cost руб.</h1>
<section class="d-flex justify-content-around">
    <div class="col-1">
        <div class="row">Название</div>
        <div class="row">Категория</div>
        <div class="row">Характеристики и описание</div>
        <div class="row">Цена</div>
        <div class="row">Количество заказов</div>
        <div class="row">Количество просмотров</div>
    </div>
    <div class="col-1">
        <div class="row">@Model.Name</div>
        <div class="row">@Model.SubSection</div>
        <div class="row">@Model.Information</div>
        <div class="row">@Model.Cost</div>
        <div class="row">@Model.Count</div>
        <div class="row">@Model.OrderCount</div>
        <div class="row">@Model.ViewCount</div>
    </div>
</section>
@if (Context.User.IsInRole("USER"))
{
    <form asp-controller="Basket" asp-route-productId="@Model.Id" asp-route-login="@Context.User.FindFirstValue(ClaimsIdentity.DefaultNameClaimType)" asp-action="Update" method="post">
        <input type="number" id="count" name="count" value="1" asp-route="count" max="@Model.Count" min="1"/>
        <div>
            <input type="submit" value="Добавить в корзину"/>
        </div>
    </form>
}
