@model IEnumerable<Product>
<div class="row pb-2">
    <div class="col ">Название товара</div>
    <div class="col ">Подкатегория</div>
    <div class="col ">Категория</div>
    <div class="col ">Изображение</div>
    <div class="col ">Стоимость бел.руб</div>
    <div class="col ">Оценка</div>
    <div class="col ">Просмотров</div>
    <div class="col ">
        <a class="btn btn-danger" asp-controller="Product" asp-action="Create">Добавить товар</a>
    </div>
</div>
@foreach (var sec in Model)
{
<div class="row pb-2 border">
    <div class="col ">@sec.Name</div>
    @if (sec.SubSection != null)
    {
        <div class="col">@sec.SubSection.Name</div>
    }
    else
    {
        <div class="col"></div>
    }
    <div class="col ">
        @if (sec.SubSection != null)
        {
            <div class="col">@sec.SubSection.Section.Name</div>
        }
        else
        {
            <div class="col"></div>
        }
    </div>
    <div class="col "><img src=" @("~/image/"+sec.PictureGeneral)" alt="Picture" height="50" width="50" asp-append-version="true"/></div>
    <div class="col ">@sec.Cost руб.</div>
    <div class="col ">@sec.Score</div>
    <div class="col ">@sec.ViewCount</div>
    <div class="col ">
        <a class="btn btn-info" asp-controller="Product"  asp-route-id="@sec.Id" asp-action="Update">Редактировать</a>
        <a class="btn btn-info" asp-controller="Product" asp-route-id="@sec.Id" asp-action="Delete">Удалить</a>
    </div>
</div>
}