@model Online_Store.ViewModels.EditUserViewModel
<div class="row text-lg-center">
    <h2 class="pr-2">@Model.Name</h2>
    <h2>@Model.Surname</h2>
</div>
<div class="row">
    <div class="pr-2">
        <div class="p-3">Name</div>
        <div class="pb-2 ">Surname</div>
        <div class="pb-2 ">Email</div>
        <div class="pb-2 ">Data Born</div>
        <div class="pb-2 ">Edit Data Born</div>
        <div class="pb-2 ">Phone Number</div>
    </div>
    <div class="d-flex flex-column">
        <label>@Model.Name</label>
        <label>@Model.Surname</label>
        <label>@Model.Email</label>
        <label>@Model.DataBorn.ToShortDateString()</label>
        <label>@Model.Number</label>
        <input type="hidden" asp-for="Id" value="@Model.Id"/>
    </div>
</div>
<div>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

